.page-header
  %h1 Log In
%form{"ng-submit" => "login()"}
  .input-group
    %input.form-control{"ng-model" => "user.email", :placeholder => "Email", :type => "email"}
  .input-group
    %input.form-control{"ng-model" => "user.password", :placeholder => "Password", :type => "password"}
  %input.btn.btn-default{:type => "submit", :value => "Log In"}